.single-item{
    background-color: lightgray;
    border: var(--main-blue) solid 2px;
    border-radius: 7px;
}

.single-item:hover{
    cursor: pointer;
}

.selected{
    background-color:var(--main-blue);
    color: whitesmoke;
}

.win{
    background-color: var(--main-green);
    border: darkgreen solid 2px;
    color: whitesmoke;
    text-shadow: 1px 1px 2px black;
}
