.header{
    border-bottom: solid darkblue 2px;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    min-height: 50px;
    padding-top: 10px;
}

.content{
    padding: 10px;
}

.footer{
    border-top: solid darkblue 2px;
    font-size: 1em;
    text-align: end;
}