.container{
    height: 100%;
}

.header{
    border-bottom: solid darkblue 2px;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

.footer{
    border-top: solid darkblue 2px;
    font-size: 1em;
    text-align: end;
    padding-right: 10px;
}